# Workspace Configuration
ROOT_WORKSPACE_DIR=$HOME/.workspace
CIPHER_DIR_NAME=encrypted_workspace
MOUNT_DIR_NAME=decrypted_workspace
SSH_PORT=2222

# Docker Configuration
CONTAINER_NAME=dev_workspace
IMAGE_NAME=dev_workspace
SSH_KEY_DIR=/home/dev/workspace/.ssh_keys